sp_eliminastore 'CAT_CON_CatPlazas'
GO
CREATE procedure [dbo].[CAT_CON_CatPlazas] (  
	@nPlaza as int=0
)  
As   
Begin  
-- EXEC CAT_CON_CatPlazas
set nocount on
--=================================================================================================================  
-- Si el Folio es cero, Consulto toda la informacion
--=================================================================================================================  
 
  Select nPlaza, sl.cDescripcion,sl.nRegion, sl.bActivo ,sl.cUsuario_Registra as cUsuario,sl.cMaquina_Registra as cMaquina
	from CAT_Plazas sl (nolock) 
	Where nPlaza=@nPlaza Or @nPlaza=0
End